  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">مثال الألبوم</h1>
        <p class="lead text-body-secondary">وصف قصير حول الألبوم أدناه (محتوياته ، ومنشؤه ، وما إلى ذلك). اجعله قصير ولطيف، ولكن ليست قصير جدًا حتى لا يتخطى الناس هذا الألبوم تمامًا.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">الدعوة الرئيسية للعمل</a>
          <a href="#" class="btn btn-secondary my-2">عمل ثانوي</a>
        </p>
      </div>
    </div>
    <form action="" method="get" class="form-grupe">
      <input type="search" name="search_title" oninput="myFunction(event)" id="search_id" class="input-search form-control" placeholder="در اینجا جستجو کن..." >
      <input name="" id="" class="btn btn-primary btn-block" type="submit" value="جستجو">
      
    </form>
  </section>